@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111222;
}

section {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 70px 100px;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.content .text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 30px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transform: translate(-80px, 50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

.second-title {
    font-size: 3em;
    margin-bottom: 50px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.bypass-info {
    width: 400px;
    margin-left: 50px;
}

.bypass-info li {
    list-style: none;
    font-size: 1.4em;
}

.bypass-info li a {
    color: #fff;
    text-decoration: none;
}

.bypass-info li:not(:last-child){
    margin-bottom: 30px;
}

.bypass-info li:nth-child(3){
    padding-left: 100px;
}

.bypass-info li:nth-child(2), .bypass-info li:nth-child(4){
    padding-left: 50px;
}

/* .sec-03 {
    margin-bottom: 50px;
} */

.member-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.member-item {
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

.member-img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.member-name {
    text-align: center;
}

.sec-04 {
    margin-top: 50px;
    margin-bottom: 60px;
}

/* ======== modal ======== */
.modal {
    position: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: rgba(0, 0, 0, 0.6);
    width: 1200px;
    min-height: 500px;
    position: relative;
}

#openCvBtn1, #openCvBtn2, #openCvBtn3 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    font-size: 1em;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
}

.open {
    display: flex;
    position: fixed;
}
